
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;

    border: none;

    background: url("world map.png");
  }
  
  .title {
    width: 756px;
    height: 265px;
    gap: 0;
    
    background: url("Group 8.png");
    font-family: Nunito Sans;
    font-size: 96px;
    font-weight: 800;
    line-height: 90px;
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .searchContainer {
    display: flex;
    align-items: center;
    
    width: 1200px; /* Fixed */
    height: auto; /* Hug */
    min-height: 48px; /* Ensuring it doesn't go below the specified height */
    gap: 0;
    border-radius: 4px 0 0 0;
    border: 1px solid #CBD4E6;
    
    background: #FFFFFF;
    box-shadow: 0px 12px 24px 0px #1B3B770D, 0px 24px 60px 0px #062F7D0D, 0px 2px 4px 0px #0704921A;
  }
  
  .searchInput {
    width: 100%; /* Fill */
    max-width: 324.5px; /* Ensuring it doesn't exceed the specified width */
    height: auto; /* Hug */
    min-height: 48px; /* Ensuring it doesn't go below the specified height */
    gap: 4px;
    border: none;
    
  }

  .searchInput:focus {
    
    border: 1px solid #605DEC;
    
  }
  
  .TextInput {
    width: 252px; /* Fixed */
    height: auto; /* Hug */
    min-height: 48px; /* Ensuring it doesn't go below the specified height */
    gap: 4px;
    border: none;
    
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24.55px;
    text-align: left;
    color: #7C8DB0;
  }
  
  .TextInput2 {
    width: 200px; /* Fixed */
    height: auto; /* Hug */
    min-height: 48px; /* Ensuring it doesn't go below the specified height */
    gap: 4px;
    
  }
  
  .searchButton {
    width: auto; /* Hug */
    max-width: 100px; /* Ensuring it doesn't exceed the specified width */
    height: 55.3px; /* Fixed */
    padding: 12px 20px;
    gap: 8px;
    border-radius: 4px 0 0 0;
    
    background: #605DEC;
    color: white;
  }
  
  .divider {
    width: 2px; /*worked better than 1 in figma*/
    height: 48px;
    gap: 0;
    
    background: #CBD4E6;
  }
  



  .dropdownWrapper {
    position: relative;
    flex: 1;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .dropdown {
    position: absolute;
    top: calc(100% + 4px);  /* Positioned below the input with a small gap */
    left: 23px;
    right: 0;
    background: white;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
  }
  
  .dropdownItem {
    
    height: 32px;
    
    margin: 10px 10px 0px 13px;
    cursor: pointer;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dropdownItem:hover {
    background-color: #605DEC;
  }
  

  .dropdownButton {
    background: none;
    border: none;
    text-align: left;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    padding: 0 10px;
  }
  
  .dropdownButton:focus {
    outline: none;
  }
  



  .passengerDropdownWrapper {
    position: relative;
    flex: 1;
  }
  
  .passengerDropdownButton {
    width: 100%;
    height: 48px;
    background: none;
    border: none;
    text-align: left;
    
    color: inherit;
    cursor: pointer;

    display: flex;
    align-items: center;


    font-family: Nunito Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.55px;
    text-align: left;
    color: #7C8DB0;

    
  }
  
  .passengerIcon {
    margin-right: 8px;
    margin-top: 5px;
  }
  
  .passengerDropdown {
    position: absolute;
    top: calc(100% + 4px);  /* Positioned below the input with a small gap */
    left: 23px;
    right: 0;
    background: white;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;

    overflow-y: auto;
  }
  
  .passengerType {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .passengerIncrementer button {
    width: 24px;
    height: 24px;
    background: #FAFAFA;
    color: #52527A;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .passengerCount{
    color: #6E7491;
    font-family: Nunito Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    
  }

  .passengerTitle{
    color: #6E7491;
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.82px;
    text-align: left;
    
  }

  .passengerIncrementer{
    height: auto; /* Hug */
    min-height: 32px; /* Ensuring it doesn't go below the specified height */
    width: auto; /* Hug */
    min-width: 112px; /* Ensuring it doesn't go below the specified height */
    gap: 8px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  .datepicker {
    position: relative;
    border: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
