.Searchbarcontainer{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.heroOverride{
    width: 872px;
    height: 64px;
}

.heroOverride [class^="hero_title__"] { /* p */
    display: none;
}

.pills{
    width: 704px;
    height: 38px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    margin: 24px 208px 48px 64px;
    padding: 0;
}

.basepillchit{
    width: 120px;
    height: 38px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    padding: 8px 12px 8px 16px;
    border-radius: 4px;
    border: solid 1px #cbd4e6;
    background-color: #fff;
  }

.basepillchit label {
    width: 70px;
    height: 22px;
    flex-grow: 0;
    font-family: NunitoSans;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #27273f;
  }



  .Chooseflight {
    width: 209px;
    height: 25px;
    margin: 48px 204px 16px 76px;
    font-family: NunitoSans;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #6e7491;
  }
  
  .Chooseflight .textstyle1 {
    color: #605dec;
  }

  .tableflight {
    width: 872px;
    height: 400px; /*1238px*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin: 16px 40px 16px 64px;
    padding: 16px;
    border-radius: 8px;
    border: solid 1px #f6f6fe;
    background-color: #fff;

    overflow-y: scroll;
  }

  .flightrow {
    height: 72px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    padding: 4px 16px;
    border-radius: 4px;
    background-color: #f6f6fe;
  }

  .image25 {
    width: 40px;
    height: 40px;
    margin: 12px 8px 12px 0;
    position: relative;
  }

  .datarows {
    height: 64px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 4px;
    padding: 8px 16px;
  }

  .row {
    height: 22px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 34px;
    padding: 0;
  }


  .label1 {
    width: 156.5px;
    height: 22px;
    
    font-family: NunitoSans;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #27273f;
  }
  .label2 {
    width: 156.5px;
    height: 22px;

    font-family: NunitoSans;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #27273f;
  }
  .label3right {
    width: 156.5px;
    height: 22px;

    font-family: NunitoSans;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #27273f;
  }
  .label4right {
    width: 156.5px;
    height: 22px;

    font-family: NunitoSans;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #27273f;
  }

  .divider {
    height: 1px;
    align-self: stretch;
    flex-grow: 0;
    background-color: #e9e8fc;
    padding: 4px 0px 4px 0px;
    background: #FFFFFF;


  }


  .button1 {
    width: 168px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 8px;
    margin: 24px 0 46px 704px;
    padding: 12px 20px;
    border-radius: 4px;
    border: solid 1px #605dec;
  }

  .button1 label {
    width: 128px;
    height: 25px;
    flex-grow: 0;
    font-family: NunitoSans;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #605dec;
  }

  .Map {
    width: 872px;
    height: 171px;
    margin: 2px 0 70px;
    padding: 7px 16px 2px;
    border-radius: 4px;
    border: solid 1px #cbd4e6;
    background-color: #e9e8fc;

    position: relative;
  }

