.card {
    width: 682px;
    
    font-family: NunitoSans;
    font-size: 18px;
    color: #7c8db0;
  }
  
  .header {
    font-size: 24px;

    font-weight: bold;
    color: #6e7491;

  }
  
  .content {
    /* padding: 1rem; */
  }
  
  .description {
    margin-bottom: 24px;  
    width: 682px;
    height: 25px;
    
  }
  
  .input {
    width: 400px;
    height: 48px;
    margin-bottom: 24px;

    padding: 8px 12px;

    border-radius: 4px;
  
    border: solid 1px #a1b0cc;
  
    background-color: #fff;
    
  }
  
  .buttonContainer {
    display: flex;
  }
  
  .button {
    padding: 12px 20px;
  }
  
  .primaryButton {
    border-radius: 4px;
    background-color: #605dec;
    color: white;
    margin-right: 16px;
  }
  
  .secondaryButton {
    background-color: white;
    color: #605dec;
    border: none;
  }