

.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.rightColumn{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.leftColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}