.container {
  background: url("world map.png");
  width: 1440px; /* Fixed */
  height: 700px; /* Fixed */
  /* top: 152px; */
  padding: 8px 0 160px 0;
  gap: 48px;
  
  position: relative;
}


.pageBody{
  width: 1440px; /* Fixed */
  height: auto; /* Hug */
  min-height: 3012px; /* Ensuring it doesn't go below the specified height */
  /* top: 796px; */
  gap: 40px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 40px 0 0;
  padding: 0;

}

.cardRow {

  height: 1137px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 24px;
  padding: 40px 64px;

}

.cardRow2 {

  height: 661px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 24px;
  padding: 40px 64px;

}

.titleRow{
  display: flex;
  width: 1312px; /* Fixed */
  height: auto; /* Hug */
  min-height: 33px; /* Ensuring it doesn't go below the specified height */
  gap: 0px;
  justify-content: space-between;

}

.Nameofsectionandanaccent {
  width: 536px;
  height: 33px;
  flex-grow: 0;
  font-family: NunitoSans;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #6e7491;

}

.Nameofsectionandanaccent .textstyle1 {
  color: #605dec;
}

.Nameofsectionandanaccent .textstyle2 {
  color: #98FF98;
}

.titlerowspace{
  height: 33px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
}

.seeall{
  display: flex;
  
  height: auto;
  width: auto;
  min-width: 68px;
  min-height: 33px;
  gap: 4px;
  opacity: 0px;

}

.All {
  width: 32px;
  height: 33px;
  flex-grow: 0;
  font-family: NunitoSans;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #a1b0cc;
}

.arrowRight{
  width: 32px;
  height: 32px;
  padding: 8.5px 6.5px 8.5px 6px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;

}

.Vector7 {
  width: 19.5px;
  height: 15px;
}

img.arrowRight {
  width: 32px;
  height: 32px;
  flex-grow: 0;
  object-fit: contain;
  border-radius: 4px;
}

.cards{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%; /* Fill */
  max-width: 1312px; /* Ensuring it doesn't exceed the specified width */
  height: auto; /* Hug */
  min-height: 480px; /* Ensuring it doesn't go below the specified height */
  gap: 40;
}


.button {
  width: 195px;
  height: 48px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding: 12px 20px;
  border-radius: 4px;
  background-color: #605dec;
}

.label {
  width: 155px;
  height: 25px;
  flex-grow: 0;
  font-family: NunitoSans;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fafafa;
}


.TestimonialRow {
  height: 461px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  padding: 64px;
}

.textbox {
  height: 244px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 12px;
  padding: 0;
}

.WhatTripmausersaresaying {
  width: 334px;
  height: 33px;
  flex-grow: 0;
  font-family: NunitoSans;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #6e7491;
}

.WhatTripmausersaresaying .textstyle1 {
  color: #605dec;
}

.Frame71 {
  height: 276px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  padding: 0;
}

